#panel.top-bar--normal {
    transition-duration: 200ms;
}
#panel.top-bar--solid-dark {
    background-color: rgba(0, 0, 0, 1);
    transition-duration: 200ms;
}
#panel.top-bar--solid-light {
    background-color: rgba(240, 240, 242, 1);
    transition-duration: 200ms;
}
